{% extends 'PlaygroundMainBundle::layout.html.twig' %}

{% block body %}
    <div class="wrapper flash-page">
        {% if app.session.hasFlash('notice') %}
        <div class="flash-notice"><p>{{ app.session.flash('notice') }}</p></div>
        {% endif %}
        <div class="centered">
            <hgroup>
                <!-- <h2>Nash's Playground</h2> -->
                <img src="{{ asset('images/NP-logo-v1-bigger.png') }}">
            </hgroup>
            <section>
                <p class="tagline">"All work and no play makes Nash a dull boy"</p>
                
                <form class="flash-subcription-form" action="{{ path('PlaygroundMainBundle_homepage') }}" method="post" {{ form_enctype(form) }}>
                    {% if errors %}
                    <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error.messageTemplate }}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}

                    <p class="help-text"><em>Do you want to be notified when we launch?</em></p>
                    {{ form_widget(form.email_address, { 'attr': {'placeholder': 'Enter your email address'} } ) }}

                    {{ form_rest(form) }}
                    <input type="submit" value="Notify Me" />
                </form>

                <!-- <form class="flash-subcription-form" method="POST">
                    <input type="email" id="emailaddress" name="emailaddress" placeholder="Enter your email address" required />
                    <input type="submit" value="Submit" />
                </form> -->
            </section>
        </div>
    </div>
{% endblock %}

{% block footer %}
<p>Powered by <a href="http://symfony.com/" target="_blank">Symfony 2</a></p>
{% endblock %}